*{
    margin: 0;
    padding: 0;
}
.News{
    background-image: url("./img/people.jpg");
    background-size: cover;
    max-width:100vw;
    height:100vh;
}

.Container{
    background-image: url("./img/rain.jpg");
    background-size:cover;
    /* background-color: black; */
    height:100vh;
        
    }
.drop{
    position: absolute;
    bottom: 100%; 
    animation: drop 1.2s linear infinite;
    
    
}
.stem{
    width: 2px;
    height: 50px;margin-left: 10px;
    background: linear-gradient(to bottom,rgba(255,255,255,0),rgba(255, 253, 253, 0.711));
    animation: stem 1.2s linear infinite;
}

.splash{
    position: absolute;
    background-color: rgb(255, 255, 255);
    bottom: 0%;
    width: 15px;
    margin-left: -8px;
    height: 15px;
    border-radius: 50%;
    border-top : 2px solid rgb(255, 0, 0);
    animation: splash 1.2s linear infinite;
}



@keyframes drop {
    0%{
        transform: translateY(0vh);

    }
    75%{
        transform: translateY(100vh);

    }
    100%{
        transform: translateY(100vh);

    }
    
}
@keyframes stem {
    0%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
    
}
@keyframes splash {
    0%{
        opacity: 1;
        transform: scale(0);
    }
    60%{
        opacity: 1;
        transform: scale(0);
    }
    70%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.5);
    }
}